
:root{
  --base-warning:#ffc107;
  --base-btn-bg:var(--base-warning);
  --base-btn-width: 275px;
  --base-btn-padding: 0.25rem 1rem;
  --base-btn-color: #fff;
  --base-btn-radius: 20px;
}
* {
  box-sizing: border-box;
  list-style: none;
}
.base-btn{
  background: var(--base-btn-bg);
  width: var(--base-btn-width);
  padding: var(--base-btn-padding);
  border-radius: var(--base-btn-radius);
  -webkit-border-radius: var(--base-btn-radius);
  -moz-border-radius: var(--base-btn-radius);
  -ms-border-radius: var(--base-btn-radius);
  -o-border-radius: var(--base-btn-radius);
  color: var(--base-btn-color);
  font-size: 1rem;
  border: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.none {
  display: none;
}

a {
  text-decoration: none;
}
section{
  margin-top: 80px;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  padding: 100px 0;
}
.fform{
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  min-width: 320px;
  background-image: url(../assets/images/Layer1.svg);
  background-repeat: repeat;
  background-size: 150px 200px;
  height: fit-content;
}
.fform-bg{
  background-color: rgba(255,255,255, .8);
  z-index: -1;
}
.form-title{
  width: fit-content;
  position: relative;
}
.form-title::after{
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  background: var(--base-warning);
  left: 0;
  top: 100%;
}
.btnClose {
  top: 1rem;
  right: 0.5rem;
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: 0;
}
.fform-control{
  border: 1px solid var(--base-warning);
}
input.outline-none:focus{
  box-shadow: initial;
  outline: none;
}
.nnav-link{
  display: inline-block;
  color: #1e1e1e;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 0;
  position: relative;
  text-decoration: none;
}
.router-link-active{
  text-shadow: 0 1px #000;
}
/* .router-link-active::before{
  position: absolute;
  content:"";
  top: 100%;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: yellow;
} */
.flex {
  display: flex;
  width: 100%;
}
.flex-item {
  padding: 1rem;
}
.flex-item-extend {
  flex:1 auto;
}
.flex-item-fixed--width {
  width: 25%;
  min-width: 350px;
}
.flex-body {
  padding: 1rem;
  border:#ffc107 1px solid;
}
.flex-dir-col {
  position: relative;
}
.flex-avatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.flex-avatar-settings {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}
.flex-avatar-settings > .flex-avatar-icon{
  opacity: 0;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
}

.flex-avatar-upload{
  opacity: 0;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
}
.flex-avatar:hover .flex-avatar-upload{
  opacity: 1;
}
.flex-dir-col:hover .flex-avatar-settings > .flex-avatar-icon{
  opacity: 1;
}
.advansed-item + .advansed-item{
  margin-top: 0.5rem;
}
